/** SECOND BANNER **/

.second-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100%;
}

.banner {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.lorem2 {
  position: absolute;
  z-index: 1;
  margin-left: 20%;
  margin-top: 15%;
  margin-bottom: 10%;
  justify-content: center;
  color: orchid;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 40vh;
  }
  .lorem2 {
    margin-left: 15%;
    margin-top: 15%;
  }
}
@media screen and (max-width: 675px) {
  .banner {
    height: 50vh;
  }
  .lorem2 {
    margin-left: 15%;
    margin-top: 15%;
  }
}
@media screen and (max-width: 414px) {
  .banner {
    height: 50vh;
  }
  .lorem2 {
    margin-left: 10%;
    margin-top: 28%;
  }
}
@media screen and (max-width: 375px) {
  .banner {
    height: 40vh;
  }
  .lorem2 {
    margin-left: 10%;
    margin-top: 28%;
  }
}

/** SECOND BANNER **/
